<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>about</title>
    <link rel="icon" href="/images/weather.png">
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Mike Santry. It is a simple Node.js project that uses a weather api to deliver a forecast for the given location.</p>
        <img class="portrait" src="/images/AbeVigoda.jpg">
        <h4>Created By: {{name}}</h4>
    </div>
    
    {{>footer}}
</body>


</html>