<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>error</title>
        <link rel="icon" href="/images/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{error_message}}</p>
        </div>   
        
        {{>footer}}
    </body>
</html>